/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .1rem;
    margin-left: 20px;
  }
  button {
    margin-top: 20px;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.new-container {
  margin-top: 5%;
}