<div class="search-container">
  <div class="input-group" style="margin: 10px">
    <div class="form-outline">
      <input
        id="search-focus"
        type="search"
        [placeholder]="'Search for heroes'"
        #searchBox
        id="search-box"
        (input)="search(searchBox.value)"
        class="form-control"
      />
    </div>
  </div>

  <div class="search-results-container">
    <ul class="list-group" *ngIf="suggestions.length > 0">
      <li
        class="list-group-item"
        *ngFor="let suggestion of suggestions"
        routerLink="/heroDetail/{{suggestion.id}}"
      >
        {{ suggestion.name }}
      </li>
    </ul>
  </div>
  